input {
  border: none;
  background-color: bisque;
  border: 2px burlywood solid;
  border-radius: 5px;
}

button {
  border: 2px burlywood solid;
  background-color: bisque;
  border-radius: 5px;
}

#resultado {
  margin-top: 30px;
  border: 2px burlywood solid;
  background-color: bisque;
  border-radius: 5px;
}
